//*PALETA DE COLORES*//

$color-principal: #c96800;
$color-secundario: #d46d00;
$color-btn: #ff8400;
$color-fondo: #303030;
$color-negro: #000;
$color-blanco: #fff;

//*FUENTES*//

$fuente-principal: "Poppins", serif;
$fuente-secundaria: "Inter", serif;